---
apiVersion: awx.ansible.com/v1beta1
kind: AWX
metadata:
  name: ansible-awx
  namespace: ${namespace}
spec:
  service_type: ClusterIP
  # loadbalancer_protocol: http
  # loadbalancer_port: 80
  service_annotations: |
    environment: testing
  service_labels: |
    environment: testing
  ingress_type: Ingress
  hostname: ${hostname}
  ingress_annotations: |
    environment: testing
    kubernetes.io/ingress.class: azure/application-gateway
    external-dns.alpha.kubernetes.io/hostname: ${hostname}
  tolerations: |
    - key: "kubernetes.azure.com/scalesetpriority"
      operator: "Equal"
      value: "spot"
      effect: "NoSchedule"
  web_resource_requirements:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 1000m
      memory: 2Gi
  task_resource_requirements:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 500m
      memory: 2Gi
  ee_resource_requirements:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 1000m
      memory: 2Gi